<!-- templates/inventory/classify.html -->


{% extends "inventory/base.html" %}

{% block content %}
<div>
    <h2>AI Medicine Classification</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Classify</button>
    </form>

    {% if ai %}
    <hr>
    <h3>Result</h3>
    <p><strong>Predicted Category:</strong> {{ ai.label }} ({{ ai.score }}%)</p>

    <h4>Confidence Breakdown</h4>
    <ul>
        {% for label, score in ai.all %}
        <li>{{ label }} → {{ score }}%</li>
        {% endfor %}
    </ul>


    {% if medicines %}
    <h4>Matched Medicines in Inventory</h4>
    <ul>
        {% for med in medicines %}
        <li>
            {{ med.generic_name }} ({{ med.brand_name }}) — {{ med.dosage_form }} {{ med.strength }}
            {% if med.total_stock > 0 %}
            ✅ Stock: {{ med.total_stock }}
            <a href="{% url 'transaction-create' %}?medicine={{ med.id }}" class="btn btn-success btn-sm">Dispense</a>
            {% else %}
            ⚠️ No stock available
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>❌ No matching medicine found in inventory.</p>
    {% endif %}
    {% endif %}




</div>

{% endblock %}