 {% load querystring_tags %}
 
 
 <div id="near-expiry-containter" class="bg-white rounded-xl shadow-md p-6 mb-6 border border-gray-200">
        <h3 class="text-xl font-semibold mb-4 text-yellow-600">⏳ Near Expiry</h3>
        <div id="ne-indicator" class="items-center justify-center align-middle htmx-indicator w-full h-64">
            <div>
                 <svg class="w-10 h-10 animate-spin text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" aria-hidden="true">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
                </svg>
            </div>
           
        </div>
        <ul id="ne-indicator" class="space-y-2 text-gray-700 loading-display">
            {% for item in near_expiry %}
            <li class="p-3 bg-yellow-50 rounded-md">
                <a href="{% url 'medicine-detail' item.medicine.pk %}">
                <span class="flex justify-between items-center">
                <span>{{ item.medicine.generic_name }}</span>
                <span class="font-bold text-yellow-600">Exp: {{ item.expiration_date }}</span>
                </span>
                </a>
            </li>
            {% empty %}
            <li class="text-gray-500">No near-expiry medicines</li>
            {% endfor %}
        </ul>
        <!-- Pagination -->
            {% if near_expiry.has_other_pages %}
            <div class="mt-4 flex justify-center space-x-2">
                {% if near_expiry.has_previous %}
                <a 
                    hx-get="{% url 'near-expiry-pagination' %}?exp_page={{ near_expiry.previous_page_number }}" 
                    class="px-3 py-1 border rounded hover:bg-gray-100 cursor-pointer"
                    hx-indicator="#ne-indicator"
                    hx-target="#near-expiry-containter" hx-swap="outerHTML">
                    Previous
                </a>
                {% endif %}
                 <!-- Page Numbers (show up to 5) -->
                {% for num in near_expiry.paginator.page_range %}
                {% if num >= near_expiry.number|add:'-2' and num <= near_expiry.number|add:'2' %}
                <a
                    hx-get="{% url 'near-expiry-pagination' %}?exp_page={{ num }}"
                    hx-indicator="#ne-indicator"
                    class="cursor-pointer px-3 py-1 border rounded text-sm {% if num == near_expiry.number %}bg-blue-600 text-white{% else %}hover:bg-gray-100{% endif %}"
                    hx-target="#near-expiry-containter" hx-swap="outerHTML"
                >
                    {{ num }}
                </a>
                {% endif %}
                {% endfor %}
                {% if near_expiry.has_next %}
                <a hx-get="{% url 'near-expiry-pagination'%}?exp_page={{ near_expiry.next_page_number }}" class="px-3 py-1 border rounded hover:bg-gray-100 cursor-pointer"
                   hx-target="#near-expiry-containter" hx-swap="outerHTML"
                   hx-indicator="#ne-indicator">
                    Next
                </a>
                {% endif %}
            </div>
            {% endif %}
    </div>